aiohttp
aiosignal
annotated-types
anyio
async-timeout
atlassian-python-api
attrs
backoff
bcrypt
beautifulsoup4
certifi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
crewai
coloredlogs
dataclasses-json
emoji
esprima
exceptiongroup
faiss-cpu
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
greenlet
h11
httptools
huggingface-hub
humanfriendly
idna
importlib-resources
iniconfig
joblib
jsonpatch
jsonpointer
langchain
langchain_community
langchain_openai
langdetect
langsmith
lxml
marshmallow
monotonic
mpmath
multidict
mypy-extensions
nltk
numpy
onnxruntime
openai
overrides
packaging
pluggy
phply
posthog
protobuf
pulsar-client
pydantic
pydantic_core
pyee
pygithub
PyPika
pytest
pytest-asyncio
pytest-base-url
pytest-playwright
python-dateutil
python-dotenv
python-iso639
python-magic
python-slugify
PyYAML
regex
requests
rich
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
text-unidecode
tiktoken
tokenizers
tomli
tqdm
typer
typing-inspect
typing_extensions
unstructured
urllib3
uvicorn
watchfiles
websockets
yarl
